body {
    margin-top:0;
    margin-left: 0;
    margin-right: 0;
    font-family: "Poppins"; 
    background-color: #F7F4E9;
    color: #000000;
}

.nav {
   /*  border:1px solid #000000; */
    background-color:#F7F4E9;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #424242;
}

.nav .profile {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    font-weight: 500;
    color: #918d8a;
    margin-right: auto;
    font-size: 16px;
    margin-right: 2em;
}

.nav a.active {
    text-decoration: none;
    font-weight: 900;
    color: #000;
}

.nav a:hover {
    color: #000000;
    font-weight: 900;
}
