body {
    margin-top:0;
    margin-left: 0;
    margin-right: 0;
    font-family: "Poppins"; 
    background-color: #F7F4E9;
    color: #000000;
}

.nav {
   /*  border:1px solid #000000; */
    background-color:#F7F4E9;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #424242;
}

.nav .logo {
    width: 50px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    cursor: pointer;
}

.nav p {
    font-size: 10px;
    line-height: 1em;
    font-weight: 700;
    color: #6D4A37;
}

.nav .profile {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    font-weight: 500;
    color: #918d8a;
    margin-right: auto;
    font-size: 16px;
    margin-right: 2em;
}

.nav a.active {
    text-decoration: none;
    font-weight: 900;
    color: #000;
}

.nav a:hover {
    color: #000000;
    font-weight: 900;
}


h1 {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.cerita-container {
    /* border: 2px solid #040404; */
    display: flex;
    width:auto;
    height: auto;
    margin-top: 150px;
     flex-wrap: wrap;
     align-content: flex-start;
    margin-right: 70px;
    margin-left: 70px;
    gap: 110px;
    padding-bottom: 200px;
}

.cerita-wrapper{
    color: #F7F4E9;
    width: 200px; 
    height: 350px; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 14px;
    background-color: #6D4A36;
    display: flex;
    flex-direction: column;
}

.sampul{
    width: 200px;
    height: 270px;
    border-radius: 6px;
    margin-top: 0;
    object-fit: cover;
    justify-content: center;
    flex-shrink: 0;
}

.cerita-wrapper h2 {
    margin: 0px 10px 5px 0px;
    font-weight: 600;
    font-size: 15px;
    text-wrap: wrap;
    height: 60px; 
    overflow: ellipsis; 
    display: flex;
    align-items: center;
}

.cerita-wrapper hr {
    width: 100%;
    margin: 0;
    border: none;
    border-top: 1px solid #F7F4E9;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-top: 5px;
}

.star {
    width: 20px;
    height: 20px;
}

.rating-number {
    font-size: 16px;
    font-weight: 500;
    color: #F7F4E9;
    margin-right: auto; 
}

.icon-small {
    width: 19px;
    height: 19px;
    cursor: pointer;
}