body {
    margin: 0px;
}

.popup_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px 10px;
}

#open_popup{
    padding: 0.5em 0.5em;
    max-width: fit-content;
}

#close_popup{
    cursor: pointer;
}

#popup_wrapper {
    display: none;
    max-width: fit-content;
    padding: 1;
    margin: auto auto;
}

#popup_wrapper.active {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 
}

.popup_header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.isi_popup {
    text-align: justify;
}

